html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  border: 2px solid black;
  padding: 20px;
}

.boutons{
    padding: 14px 24px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
}

#btn-no {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 14px 24px;
  font-size: 16px;
  cursor: pointer;

  transition: left 0.2s ease-out, top 0.2s ease-out;
}

.img {
    border-radius: 10%;
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background: white;
  padding: 25px 30px;
  border-radius: 12px;
  text-align: center;
  max-width: fit-content;
  font-size: 16px;
}

.popup-content img{
    width: 300px;
    border-radius: 10%;
    margin-bottom: 15px;
}


.popup-content p{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.popup-buttons button {
  padding: 10px 18px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}

#yes-btn {
  transition: left 0.15s ease-out, top 0.15s ease-out;
}
